@import "tailwindcss";

body {
  margin: 0;
  overflow: hidden;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* Tiptap editor base */
.ProseMirror {
  outline: none;
}
.ProseMirror p {
  margin-bottom: 0.5em;
}
